@import "tailwindcss";

/* THEME */
@theme inline {
  --font-worksans: var(--font-worksans);
}

@theme {
  --color-background: #ffffe3;
  --color-surface: #efefd5;

  --color-accent-pink: #ff007a;
  --color-accent-blue: #2775ca;
  --color-accent-green: #26a17b;
  --color-accent-yellow: #f7931a;

  --color-opacity-pink: rgba(255, 0, 122, 0.2);
  --color-opacity-blue: rgba(39, 117, 202, 0.2);
  --color-opacity-green: rgba(38, 161, 123, 0.2);
  --color-opacity-yellow: rgba(247, 147, 26, 0.2);

  --color-opacity2-pink: rgba(255, 0, 122, 0.4);
  --color-opacity2-blue: rgba(39, 117, 202, 0.4);
  --color-opacity2-green: rgba(38, 161, 123, 0.4);
  --color-opacity2-yellow: rgba(247, 147, 26, 0.4);

  --color-border: #dadada;
  --color-border2: #c9c9c9;
  --color-primary: #0e100e;
  --color-secondary: #8d8d83;
  --color-muted: #adad9b;

  --breakpoint-sx: 450px;
}

/* GLOBAL STYLE */
* {
  scroll-behavior: smooth;
  @apply border-border;
}

html {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    @apply bg-gray-700;
  }
}

body {
  @apply bg-background text-primary font-worksans;
}

button {
  @apply cursor-pointer;
}

.poolListGrid {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  @media only screen and (max-width: 450px) {
    grid-template-columns: 1fr;
  }
}
