@import "tailwindcss";

/* THEME */
@theme inline {
  --font-worksans: var(--font-worksans);
}

@theme {
  --color-background: #ffffe3;
  --color-surface: #efefd5;

  --color-accent-pink: #ff007a;
  --color-accent-blue: #2775ca;
  --color-accent-green: #26a17b;
  --color-accent-yellow: #f7931a;

  --color-border: #dadada;
  --color-primary: #0e100e;
  --color-secondary: #8d8d83;
  --color-muted: #adad9b;
}

/* GLOBAL STYLE */
* {
  scroll-behavior: smooth;
  @apply border-border;
}

html {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    @apply bg-gray-700;
  }
}

body {
  @apply bg-background text-primary font-worksans;
}

button {
  @apply cursor-pointer;
}
